body {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 100%;
}
html {
	height: 100%;
}
#slika {
	width: 60%;
	height: auto;
}
.logo {
	margin: 0 auto;
	text-align: center;
	height: 10px;
	width: 100%;
	padding: 0%;
	position: relative;
	text-indent: 3%;
	float: left;
	width: 27%;
	display: inline;
}
nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

nav ul li a{
	float: left;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 0px 20px;
	text-align: center;
	margin: 0 auto;
	line-height: 42px;
	font-size: 20.28px;
}

nav ul li a:hover {
	background-color: white;
	color: gray;
	border-radius: 8px;
}
nav ul li a.aktivni {
	background-color: white;
	color: gray;
	border-radius: 8px;
}
.banner {
	padding: 2%;
	height: 90px;
	width: 100%;
	text-indent: 3%;
}
.meni {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: inline;
	margin-top: 4%;
	text-indent: 3%;
	float: right;
	width: 72.9%;
	display: inline;
	border-left: none;
	clear: both;
}
.okvir {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	width: 60%;
	padding: 2%;
	height: 100%;
	background: rgba(.5, 0, 0, .5);
	color: white;
}
.tabela {
	border-collapse: collapse;
	width: 95%;
	margin-left: 4%;
	margin-top: 7%;
	margin-bottom: 3%;
	color: white;
}
.tabela, th, td {
	border: .1px solid white;
	text-indent: 2%;
}
.tabela a {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 900px) {
	nav ul li a {
		width: 33%;
		padding: 0;
		font-size: 15px !important;
	}
}

@media screen and (max-width: 700px) {
	nav ul li a {
		width: 60%;
		padding: 0;
	}
}