h2 {
	margin: 0;
	padding: 0 0 20px;
	color: rgba(255, 255, 255, .9);
	text-align: center;
}
.forme {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	width: 60%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
.forma {
	display: inline-block;
	width: 35%;
}
.forma p {
	margin: 0;
	font-weight: bold;
	color: rgba(255, 255, 255, .9);
}
.forma input {
	width: 100%;
	margin-bottom: 20px;
}
.tajp {
	border: none;
	background: transparent;
	outline: none;
	height: 40px;
	border-bottom: 1px solid white;
	color: rgba(255, 255, 255, 0.9);
}
.tajp2 {
	background: transparent;
	outline: none;
	height: 40px;
	border: none;
	color: white;
}
.tajp3 {
	background: black;
	border: none;
}
.subm {
	background: transparent;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .9);
}
::placeholder {
	color: rgba(255, 255, 255, 0.5);
	padding: 3px 3px 3px 3px;
	background: transparent;
}
#login-form {
	float: left;
	padding: 15px 15px 15px 15px;
}
#registracija-form {
	float: right;
	padding: 15px 15px 15px 15px;
}
#unesi {
	clear: both;
}
@media screen and (max-width:700px) {
	.forma {
		width: 91%;
		padding: 2%;
	}
}