.naslov {
	padding: 2%;
	border-bottom: .1px solid white;
	height: 60px;
	text-indent: 3%;
	display: block;
	width: 100%;
}
.podnaslov {
	border-bottom: .1px solid white;
	padding: 3%;
	height: 10px;
	width: 100%;
	display: block;
}
.info_lijevo {
	text-indent: 3%;
	float: left;
	width: 26%;
	display: inline;
}
.tabela_desno {
	text-indent: 3%;
	float: right;
	width: 71.9%;
	display: inline;
	border-left: .1px solid white;
}
.first {
	background-color: gray;
}
.komentari_naslov {
	border-top: .1px solid white;
	border-bottom: .1px solid white;
	clear: both;
	height: 50px;
	text-align: center;
	width: 100%;
}
.komentari_tekst {
	text-align: center;
	margin: 2%;
}
.spirala_naslov {
	margin: 2%;
	height: 50px;
	border: .1px solid white;
}
#p_desno, #h3_lijevo {
	display: inline;
}
.left {
	width: 49%;
	display: inline;
}
.right {
	width: 49%;
	text-align: right;
	display: inline;
	float: right;
	margin-right: 5%;
}
textarea {
    resize: none;
}
.paginacija {
	padding: 2%;
    display: inline-block;
	text-align: center;
}
.paginacija a {
    padding: 8px 16px;
    text-decoration: none;
}
.paginacija a:hover {
	border-radius: 5px;
	background-color: white;
	color: blue;
}
a.aktivni {
	background-color: blue;
	color: white;
	border-radius: 5px;
}
@media screen and (max-width: 700px) {
	.okvir {
		width: 100%;
	}
	.naslov {
		padding-top: 15% !important;
	}
	.info_lijevo {
		width: 100%;
		text-align: center;
	}
	.tabela_desno {
		text-indent: 3%;
		width: 100%;
		border-left: none;
		border-top: 1px solid white;
	}
	.komentar {
		width: 49%;
	}
}
@media screen and (max-width: 435px) {
	.okvir, .meni {
		font-size: 12px !important;
	}
}