.dugmad {
	width: 100%;
	display: inline;
	position: absolute;
	text-align: center;
	margin: 0 auto;
}

.tabela {
	padding-top: 2%;
}
.inp {
	width: 70%;
	text-indent: 3%;
}

@media screen and (max-width:700px) {
	.meni {
		padding-bottom: 15% !important;
	}
	.okvir {
		font-size: 8px;
		width: 100%;
	}
	.dugmad {
		padding-top: 15%;
		padding-bottom: 50%;
		font-size: 8px !important;
	}
}
@media screen and (max-width:377px) {
	.meni {
		font-size: 8px !important;
	}
	.dugmad button {
		font-size: 10px !important;
	}
}